<el-input
        @change="selectReturn"
        class="input"
        v-model="form_2.dh"
        icon="search"
        :placeholder="form.dh"></el-input>

<el-input @change="selectReturn" class="input" v-model="form_2.sfrq" icon="search" :placeholder="form.sfrq"></el-input>
<el-input @change="selectReturn" class="input" v-model="form_2.dhsj" icon="search" :placeholder="form.dhsj"></el-input>
<el-input @change="selectReturn" class="input" v-model="form_2.dh" icon="search" :placeholder="form.dh"></el-input>
<script>

    /**
     * @param __form  V-model前缀
     *
     * @param label
     *          1. "" 正常解析 其余不解析
     *
     * @returns {string}
     */
    function autoInput(__form, label) {
        var string = '';
        var number = 0;
        for (var index in label) {
            if (label.hasOwnProperty(index)) {
                var temp = label[index];
                if (temp === "") {
                    number = 1;
                }
                else if (temp === null) {

                } else if (temp === []) {

                }

                switch (number) {
                    case 1:
                        string += '<el-input\
    @change="selectReturn"\
    class="input"\
    v-model="' + __form + '.' + index + '"\
    icon="search"\
    :placeholder="form.' + index + '"></el-input>'
                        break;
                }
            }
        }

        for (var i = 0; i < sum.length; i++) {

        }
        return string;

    }
    var number = 1;
    var __form = 'form_2';
    var label = {"sfrq": null, "dhsj": [null, null], "shck": 1, "dh": ""};

    console.log(autoInput(number, __form, label));
</script>