body{
  margin: 0 !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #eef1f6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #edf7ff;
}

.header{
  max-height: 60px;
}

.header{
  .user{
    .el-submenu.is-active {
      .el-submenu__title{
        border-bottom: none !important;
      }
    }
  }
}

.content{
  #showing{
    width: 1000px;
    margin: 20px auto;
  }
}

.user{
  img{
    width: 55px;
    height: 55px;
  }
}