html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}


/*滚动条宽度*/
::-webkit-scrollbar {
 width: 0.2rem;
 height: 0.2rem;
}

/* 轨道样式 */
::-webkit-scrollbar-track {

}

/* Handle样式 */
::-webkit-scrollbar-thumb {
 border-radius: 0.2rem;
 background: rgba(0,0,0,0.2);
}

/*当前窗口未激活的情况下*/
::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(0,0,0,0.1);
}

/*hover到滚动条上*/
::-webkit-scrollbar-thumb:vertical:hover{
 background-color: rgba(0,0,0,0.3);
}
/*滚动条按下*/
::-webkit-scrollbar-thumb:vertical:active{
 background-color: rgba(0,0,0,0.7);
}

.slide {
  transition: .4s all;
  width: 300px;
  min-width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #424F63;

  .decorate {
    cursor: pointer;
    min-width: 300px;
    .logo {
      line-height: 60px;
      font-size: 20px;
      i {
        width: 60px;
        height: 60px;
        display: block;
        float: left;
        background-image: url('../images/logo.png');
      }
      span {
        display: block;
        float: left;
        color: #fafafa;
      }
    }
  }

  .el-input {
    height: 60px;
    input[type="text"] {
      background: #354051;
      border-radius: 4px;
      margin-top: 10px;
      width: 260px;
      height: 40px;
      margin-left: 20px;
    }
    .el-input__icon {
      right: 25px;
    }
  }

  .el-tree {
    .el-tree-node__content {
      height: 60px;
      line-height: 60px;
      background-color: #424F63;
      font-size: 14px;
      color: #FAFAFA;
      &:hover {
        background: #354051 !important;
      }
    }
    .is-current {
      .el-tree-node__content {
        background: #354051 !important;
      }
    }
    border: none !important;
  }
}

.left {
  transition: .4s all;
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  min-width: 855px;
  min-height: 100vh;
  top: 0;

  .header {
    max-height: 60px;
    min-width: 986px;
    width: 100%;
    .headerNav {
      float: left;
    }

    .el-menu-item, .el-menu {
      background: #fff !important;
    }
    .el-menu-item {
      border-bottom: none !important;
      border-top: 5px #fff solid;
      line-height: 50px;
      color: #333333;
      font-size: 14px;
      &:hover {
        border-top: 5px #4D5FA9 solid;
      }
    }
    .el-menu .is-active {
      border-top: 5px #4D5FA9 solid;
    }
    .navControl {
      width: 60px;
      height: 60px;
      border-right: 1px solid #eee;
      float: left;
      cursor: pointer;
      background-image: url("../images/navControl.png");
    }

    .user {
      &:hover {
        border-bottom: none !important;
      }
      float: right;
      margin-right: 10px;
      img {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        top: 13px;
        left: -20px;
      }

      .el-submenu {
        border-top: none !important;
        border-bottom: none !important;
      }
      .el-submenu__title {
        border-top: 5px #fff solid !important;
        border-bottom: none !important;
        height: 60px !important;
        background-color: #fff !important;
        color: #333;
      }
      .el-menu-item {
        border: none !important;
        line-height: 40px;
        height: 40px;
        padding-left: 15px;
        &:hover {
          border-top: none !important;
          background-color: #eee !important;
        }
      }
      .el-menu {
        padding: 0;
      }

    }
  }

  .content {
    height: calc(100vh - 60px);
    background-color: #eee;
    width: 100%;
    .inner {
      margin: 0 2%;
      .contentHeader {
        height: 60px;
        overflow: hidden;
      }
      .el-breadcrumb {
        margin-top: 30px;
      }
      #showing {
        overflow: scroll;
        position: relative;
        height: calc(100vh - 150px);
        background: #F8FAFB;
        border: 1px solid #CCCCCC;
        min-width: 930px;
      }
    }
  }
}

.el-input__inner {
  border: 1px solid #424F63;
}

.el-tree-node__content .is-leaf {
  display: none;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/*IE/7/6*/
.clearfix {
  *zoom: 1;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  *zoom: 1;
}

.slideOpen {
  width: 60px;
}

.leftOpen {
  left: 60px;
  width: calc(100% - 60px);
  #a2, #a4 {
    margin-left: 100px;
  }
  #a1, #a3 {
    margin-left: 20px;
  }
}

/*********** 全局调整 elementUI *********************************/

.el-table__expanded-cell .el-form--label-left .el-form-item {
  .el-form-item__label {
    float: left;
  }
  .el-form-item__content {
    float: left;
    width: calc(100% - 90px) !important;

  }
}

.el-dialog__body .el-form-item__content .el-date-editor {
  width: 100%;
}

.select {
  .el-select, .input {
    width: 100% !important;
  }
}

.el-table {
  .info-row {
    background: #20A0FF;
  }

  .positive-row {
    background: #e2f0e4;
  }

  .danger-row {
    background: #FF4949;
  }

  .success-row {
    background: #62ce86;
  }

  .warning-row {
    background: #F7BA2A;
  }

  .gray-row {
    background: #99A9BF;
  }
}

/*********** 打印功能 *********************************/

.barcode {
  float: left;
  clear: both;
  padding: 0 10px;
  /*quiet zone*/
  overflow: auto;
  height: 0.5in;
  /*size*/
  position: absolute;
  transform: rotate(-90deg);
  right: -12mm;
  top: 38mm;
}

.right {
  float: right;
}

.barcode {
  + * {
    clear: both;
  }
  div {
    float: left;
    height: 0.35in;
    /*size*/
  }
  .bar1 {
    border-left: 1px solid black;
  }
  .bar2 {
    border-left: 2px solid black;
  }
  .bar3 {
    border-left: 3px solid black;
  }
  .bar4 {
    border-left: 4px solid black;
  }
  .space0 {
    margin-right: 0;
  }
  .space1 {
    margin-right: 1px;
  }
  .space2 {
    margin-right: 2px;
  }
  .space3 {
    margin-right: 3px;
  }
  .space4 {
    margin-right: 4px;
  }
  label {
    clear: both;
    display: block;
    text-align: center;
    font: 0.125in/100% helvetica;
    /*size*/
  }
}

.barcode2 {
  float: left;
  clear: both;
  padding: 0;
  /*quiet zone*/
  overflow: hidden;
  height: 1in;
  /*size*/
  color: black !important;
  + * {
    clear: both;
  }
  div {
    float: left;
    height: 0.7in;
    /*size*/
  }
  .bar1 {
    border-left: 2px solid black;
  }
  .bar2 {
    border-left: 4px solid black;
  }
  .bar3 {
    border-left: 6px solid black;
  }
  .bar4 {
    border-left: 8px solid black;
  }
  .space0 {
    margin-right: 0;
  }
  .space1 {
    margin-right: 2px;
  }
  .space2 {
    margin-right: 4px;
  }
  .space3 {
    margin-right: 6px;
  }
  .space4 {
    margin-right: 8px;
  }
  label {
    clear: both;
    display: block;
    text-align: center;
    font: 0.250in/100% helvetica;
    /*size*/
  }
}

#wap {
  .el-dialog__header {
    display: none !important;
  }
  .el-dialog__body {
    margin: 0 !important;
    padding: 0 !important;
    color: #000;
  }
  .el-dialog--full {
    overflow: visible;
    height: auto;
  }
  .el-dialog__wrapper {
    overflow: visible;
    position: static;
  }

  .p0 {
    .divImsunhao {
      width: 88.2mm;
      height: 57.6mm;
      padding: 3.4mm 3.7mm;
      position: relative;
      margin-bottom: 0.5mm;
      overflow: hidden;
      .barcode2 {
        transform: scaleX(0.9);
        width: 120%;
        transform-origin: left;
        margin-left: -7px;
      }
    }
    p {
      font: 0.200in/100% '宋体';
      padding: 0;
      margin: 0;
      height: 9.5mm;
      line-height: 9.5mm;
      span {
        padding-left: 3.3mm;
      }
    }
  }
  .p1 {
    .el-table {
      .cell {
        height: 24px;
      }

      td {
        height: 24px;
      }
    }
    .el-dialog__body {
      width: 1640px;
    }
    .p1_inner {
      margin: 0 20px;
      h2 {
        margin: 0;
      }
      p {
        margin: 3px 0;
      }
    }
    .p1_2 {
      float: left;
      width: 400px;
    }
  }
  .p2 {
    .el-dialog__body {
      width: 1040px;
    }
    .p2_inner {
      margin: 0 20px;
    }
    .p2_2 {
      float: left;
      width: 500px;
    }
    .p2_3 {
      .p2_2 .barcode2 div {
        height: 50px;
      }
      .p2_2 .barcode2 label {
        font: 14px helvetica;
      }
    }
  }
  .p3 {
    .el-dialog__body {
      width: 1120px;
    }
    .p3_inner {
      margin: 0 5px;
    }
    .cell {
      span {
        display: block;
      }
    }
  }
}

@media print {
  #app {
    display: none;
  }
  @page {
    margin: 0 !important;
    padding: 0;
    size: 95mm 65mm !important;
  }

  .divImsunhao {
    page-break-after: always;
  }
}

/*** bigger ******************************************/

/* 用户头像 */
.avatar-uploader {
  .el-upload {
    border-radius: 50% !important;
    border: none !important;
  }
}



