<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--debug-->
    <link rel="stylesheet" href="../components/element/element.css">
    <link rel="stylesheet" href="css/main.scss">
    <!--/debug-->
    <!--prod-->
    <link rel="stylesheet" href="/static/lib/common.css">
    <script src="/static/lib/common.js"></script>
    <script>
        window.dbmessage = JSON.parse('<%-JSON.stringify(data)%>');
//        window.statusConfig = JSON.parse('<%-JSON.stringify(statusCode)%>');
    </script>
    <!--/prod-->
    <title>乐速 仓储管理系统 V3.0</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--debug-->
    <script src="../components/debug/jquery.js"></script>
    <script src="../components/debug/vue.js"></script>
    <script src="../components/debug/element.js"></script>
    <script src="../components/debug/echarts.js"></script>
    <!--/debug-->
    <script src="js/Tools.js"></script>
    <script src="js/main.js"></script>

    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #20a0ff;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app" v-loading.fullscreen.lock="fullscreenLoading" element-loading-text="拼命加载中">
    <div :class="{slide:true,slideOpen:navIsOpen}">
        <div class="decorate">
            <div class="logo clearfix" @click="clickGoHome">
                <i></i>
                <span>乐速仓库管理系统</span>
            </div>
        </div>
        <el-input
                v-show="!navIsOpen"
                icon="search"
                placeholder="输入关键字进行过滤"
                v-model="f_SlideMenuText">
        </el-input>
        <el-tree
                :data="slideMenu"
                accordion
                :filter-node-method="filterNode"
                ref="slideTree"
                highlight-current
                :render-content="treeRenderContent"
                @node-click="handleNodeClick">
        </el-tree>
    </div>
    <div :class="{left:true,leftOpen:navIsOpen}">
        <div class="header clearfix">
            <div class="navControl" @click="navOpen"></div>
            <el-menu class="headerNav" mode="horizontal" @select="handleSelect" :default-active="0">
                <el-menu-item :index="index" v-for="(item, index) in headMenu">{{item}}</el-menu-item>
            </el-menu>
            <el-menu class="user" mode="horizontal" style="float: right">
                <el-submenu index="1">
                    <template slot="title"><img :src="auto_portrait(rmsUser.ruPortrait)" alt="">{{rmsUser.ruUserName}}
                    </template>
                    <el-menu-item index="2-1" @click="dialogUserVisible=!dialogUserVisible">修改信息</el-menu-item>
                    <el-menu-item index="2-2" @click="signOut">注销登录</el-menu-item>
                </el-submenu>
            </el-menu>
        </div>
        <div class="content">
            <div class="inner">
                <el-row class="contentHeader">
                    <el-col :span="4">
                        <p style="font-size: 20px;color: #333333;">{{window.dbmessage.baseArehouses.length==1?window.dbmessage.baseArehouses[0].baName:(window.dbmessage.baseArehouses[0].baName.substring(0,2)+'仓')}}</p>
                    </el-col>
                    <el-col :span="6" :offset="14">
                        <el-breadcrumb separator=">">
                            <el-breadcrumb-item v-for="(item, index) in breadcrumb" :index="index">{{item}}
                            </el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
                <div id="showing" v-loading.body="showingLoading" element-loading-text="拼命加载中"></div>
            </div>
        </div>
    </div>
    <el-dialog
            size="tiny"
            v-model="dialogUserVisible">
        <div class="dialog-title clearfix" slot="title">
            <span class="el-dialog__title">修改用户信息</span>
        </div>
        <el-form :model="rmsUser" style="position: relative">
            <el-row>
                <el-col :span="20" offset="4">
                    <el-upload
                            :headers="{enctype:'multipart/form-data'}"
                            class="avatar-uploader"
                            action="/imageServer/"
                            :show-file-list="false"
                            :on-success="handleAvatarScucess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="rmsUser.ruPortrait" :src="auto_portrait(rmsUser.ruPortrait)" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-col>
            </el-row>
            <el-row>
                <el-input
                        style="position:absolute;width: 30%;left: -50px;right: 0;margin: 0 auto;bottom: -50px;text-align: center;"
                        v-model="rmsUser.ruUserName"
                        placeholder="昵称">
                </el-input>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="userSubmit" :loading="userLoading">保存</el-button>
        </div>
    </el-dialog>
</div>
<div id="wap">
    <el-dialog custom-class="p0" v-model="dialogTableVisible" size="full" :show-close="false">
        <!--<div class="divImsunhao">-->
        <!--<div class="barcode2" id="div128"></div>-->
        <!--<p>任务单号<span>RK20170329-01</span></p>-->
        <!--<p>到货日期<span>20170329</span></p>-->
        <!--<p>打印时间<span>2017-3-29 09:51</span></p>-->
        <!--<div class="barcode" id="div129"></div>-->
        <!--</div>-->
        <sh-print
                v-for="printData of printDatas.p0"
                :val2="printData.val2"
                :rwdh="printData.rwdh"
                :dhrq="printData.dhrq"
                :dysj="printData.dysj"
                :val="printData.val"></sh-print>
    </el-dialog>
    <el-dialog custom-class="p1" v-model="dialogTableVisible1" size="full" :show-close="false">
        <div class="p1_inner">
            <h2 style="text-align: center">整车货物运输承运协议</h2>
            <div class="clearfix">
                <div class="p1_2">
                    <p>托运方（以下简称甲方）： {{printDatas.p1.info['托运方']||'_______________________________'}}</p>
                    <p>承运人姓名：{{printDatas.p1.info['承运人']['姓名']||'_______________________________'}}</p>
                </div>
                <div class="p1_2">
                    <p>联系人：{{printDatas.p1.info['托运方联系人']||'_______________________________'}}；</p>
                    <p>车牌号码：{{printDatas.p1.info['车牌号']||'_______________________________'}}</p>
                </div>
                <div class="p1_2">
                    <p>承运方（以下简称乙方）：{{printDatas.p1.info['承运方']||'_______________________________'}}</p>
                    <p>证件号：{{printDatas.p1.info['承运人']['证件号']||'_______________________________'}}</p>
                </div>
                <div class="p1_2">
                    <p>联系人： {{printDatas.p1.info['承运方联系人']||'_______________________________'}}；</p>
                    <p>联系方式：{{printDatas.p1.info['承运人']['联系方式']||'_______________________________'}}；</p>
                </div>
            </div>
            <p>根据《中华人民共和国合同法》及相关法律法规，甲乙双方经友好协商，就甲方委托乙方提供货物运输服务事宜达成本协议，以便双方共同遵守。</p>
            <p>一、货物信息</p>
            <el-table
                    :data="printDatas.p1.data"
                    :border="true"
                    show-summary>
                <el-table-column
                        prop="任务单号"
                        width="200"
                        align="center"
                        label="任务号">
                </el-table-column>
                <el-table-column
                        prop="订单号"
                        width="200"
                        align="center"
                        label="订单号">
                </el-table-column>
                <el-table-column
                        prop="货品名称"
                        align="center"
                        label="货品名称">
                </el-table-column>
                <el-table-column
                        prop="发运数量"
                        width="80"
                        align="center"
                        label="数量">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="体积"
                        width="120"
                        label="体积">
                </el-table-column>
                <el-table-column
                        prop="收货人"
                        width="80"
                        align="center"
                        label="收货人">
                </el-table-column>
                <el-table-column
                        align="center"
                        width="150"
                        label="联系">
                    <template scope="scope">
                        {{scope.row['联系方式']}}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="地址"
                        width="200"
                        align="center"
                        label="地址">
                </el-table-column>
            </el-table>
            <p>二、运输价格及付款方式：本次运输价格:<u>按合同规定</u>，付款方式： <u>月结</u></p>
            <p>三、到货时限：要求于 {{auto_time_new(printDatas.p1.info['到货时限'],1)}} 前到达目的地，联系指定收货人签收货物。</p>
            <p>四、回执单签收： 回单份数：{{printDatas.p1.info['回单份数']||'_________'}} 份</p>
            <p>五、乙方义务</p>
            <p>
                1：乙方必须按照甲方指定的收货人以及收货地址交货物安全、准确、及时送达甲方指定目的地，运输过程中如出现灭失、短少、污染、损坏，乙方必须按照货物的实际价值赔偿甲方并赔偿因此给甲方造成的一切损失。2：甲乙双方风险责任的转移：货物经甲乙双方清点、验收无误并由乙方在本协议收签字确认后，货物到达目的地收货人签收之前，货物的风险责任全部由乙方承担。3：乙方必须保证联系方式24小时开机并随时接听电话，确保甲方对运输信息跟踪的及时性。在运输过程中如有货物不能按时到达目的地，乙方必须提前与甲方联系，以便甲方协助解决，由于货物延迟到达给甲方造成的损失由乙方承担。4：乙方必须保证送达目的地后在货物交接时，如收货方对货物有任何意见，乙方应立即与甲方联系处理，不得与收货方发生争执。要求必须由收货人出具身份证明或收货人委托代理人出具书面委托证明及身份证明，乙方核实后，由收货人或委托代理人签收，回执单签收有特殊要求的依据其要求，否则签收无效。</p>
            <p>
                六：本协议一式四份，经双方签字后生效，具有同等法律效力。甲、乙双方各持一份，第一联托运人留存、第二承运人留存联、第三联报销联、第四联账务留存联。甲乙双方在履行本协议过程中发生纠纷时，应及时协商解决，协商不成时，任何一方都可向济南市历城区人民法院起诉。</p>
            <div class="clearfix">
                <div class="p1_2">
                    <p>甲方：</p>
                    <p>日期： {{auto_time_new(new Date(),1)}}</p>
                </div>
                <div class="p1_2">
                    <p>乙方：</p>
                    <p>日期： {{auto_time_new(new Date(),1)}}</p>
                </div>
                <div class="p1_2">
                    <p>经办人：</p>
                </div>
            </div>
        </div>
    </el-dialog>
    <el-dialog custom-class="p2" v-model="dialogTableVisible2" size="full" :show-close="false">
        <div class="p2_inner">
            <h2 style="text-align: center">拣货单</h2>
            <p style="margin-bottom: 5px;margin-top: -25px;">出库单号：{{printDatas.p2.row.ckCkdjNo}}</p>
            <el-table
                    :data="printDatas.p2.data"
                    :border="true">
                <el-table-column
                        type="index"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseLocation.blLname"
                        width="120"
                        align="center"
                        label="库位名称">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseGoods.bgGoodsNo"
                        width="140"
                        align="center"
                        label="物料编码">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseGoods.bgGoodsName"
                        width="350"
                        align="center"
                        label="物料名称">
                </el-table-column>
                <el-table-column
                        prop="msxMxCount"
                        width="65"
                        align="center"
                        label="台数">
                </el-table-column>
                <el-table-column
                        prop="jianshu"
                        align="center"
                        width="95"
                        label="件数">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseGoods.bgHsl"
                        width="80"
                        align="center"
                        label="换算量">
                </el-table-column>
                <el-table-column
                        align="center"
                        label="备注">
                </el-table-column>
            </el-table>
            <div class="clearfix">
                <div class="p2_2">
                    <p>客户地址：{{printDatas.p2.row.ckAdress}}</p>
                </div>
                <div class="p2_2">
                    <p>捡货仓管：</p>
                    <p>客户名称：{{printDatas.p2.row.ckCkdjClientname}}</p>
                </div>
            </div>
            <div class="clearfix" style="height: 70px;">
                <div class="p2_2"><h2 style="margin-left: 20px;">合计：{{printDatas.p2.info.amount}} 台</h2></div>
                <div class="p2_2 p2_3">
                    <div class="barcode2" v-html="code128(printDatas.p2.row.ckCkdjNo, 'B')"></div>
                </div>
            </div>
        </div>
    </el-dialog>
    <el-dialog custom-class="p3" v-model="dialogTableVisible3" size="full" :show-close="false">
        <div class="p3_inner">
            <h2 style="text-align: center">组合分拣单</h2>
            <el-table
                    :data="printDatas.p3"
                    :border="true">
                <el-table-column
                        type="index"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseGoods.bgGoodsNo"
                        width="140"
                        align="center"
                        label="物料编码">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseGoods.bgGoodsName"
                        width="350"
                        align="center"
                        label="物料名称">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseLocation.blLname"
                        width="120"
                        align="center"
                        label="储位代码">
                </el-table-column>
                <el-table-column
                        prop="msxMxCount"
                        width="65"
                        align="center"
                        label="台数">
                </el-table-column>
                <el-table-column
                        prop="jianshu"
                        align="center"
                        width="65"
                        label="件数">
                </el-table-column>
                <el-table-column
                        prop="mfunRepertory.baseGoods.bgHsl"
                        width="65"
                        align="center"
                        label="换算">
                </el-table-column>
                <el-table-column
                        align="center"
                        label="备注">
                    <template scope="scope">
                        <div v-html="scope.row.mfunckDoc.ckRemarks"></div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-dialog>
</div>
</body>
</html>