<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--debug-->
    <link rel="stylesheet" href="../components/element/element.css">
    <link rel="stylesheet" href="css/main.scss">
    <!--/debug-->
    <!--prod-->
    <link rel="stylesheet" href="/static/lib/common.css">
    <script src="/static/lib/common.js"></script>
    <script>
        window.dbmessage = JSON.parse('<%-JSON.stringify(data)%>');
        window.statusConfig = JSON.parse('<%-JSON.stringify(statusCode)%>');
    </script>
    <!--/prod-->
    <title>乐速 仓储管理系统 V2.0</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--debug-->
    <script src="../components/debug/jquery.js"></script>
    <script src="../components/debug/vue.js"></script>
    <script src="../components/debug/element.js"></script>
    <script src="../components/debug/echarts.js"></script>
    <!--/debug-->
    <script src="js/Tools.js"></script>
    <script src="js/main.js"></script>

    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #20a0ff;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app" v-loading.fullscreen.lock="fullscreenLoading" element-loading-text="拼命加载中">
    <div :class="{slide:true,slideOpen:navIsOpen}">
        <div class="decorate">
            <div class="logo clearfix" @click="clickGoHome">
                <i></i>
                <!--<span>乐速仓库管理系统</span>-->
                <span>直销仓储管理系统</span>
            </div>
        </div>
        <el-input
                v-show="!navIsOpen"
                icon="search"
                placeholder="输入关键字进行过滤"
                v-model="f_SlideMenuText">
        </el-input>
        <el-tree
                :data="slideMenu"
                accordion
                :filter-node-method="filterNode"
                ref="slideTree"
                highlight-current
                :render-content="treeRenderContent"
                @node-click="handleNodeClick">
        </el-tree>
    </div>
    <div :class="{left:true,leftOpen:navIsOpen}">
        <div class="header clearfix">
            <div class="navControl" @click="navOpen"></div>
            <el-menu class="headerNav" mode="horizontal" @select="handleSelect" :default-active="0">
                <el-menu-item :index="index" v-for="(item, index) in headMenu">{{item}}</el-menu-item>
            </el-menu>
            <el-menu class="user" mode="horizontal" style="float: right">
                <el-submenu index="1">
                    <template slot="title"><img :src="rmsUser.ruPortrait" alt="">{{rmsUser.ruUserName}}</template>
                    <el-menu-item index="2-1" @click="dialogUserVisible=!dialogUserVisible">修改信息</el-menu-item>
                    <el-menu-item index="2-2" @click="signOut">注销登录</el-menu-item>
                </el-submenu>
            </el-menu>
        </div>
        <div class="content">
            <div class="inner">
                <el-row class="contentHeader">
                    <el-col :span="4">
                        <p style="font-size: 20px;color: #333333;">测试仓库001</p>
                    </el-col>
                    <el-col :span="6" :offset="14">
                        <el-breadcrumb separator=">">
                            <el-breadcrumb-item v-for="(item, index) in breadcrumb" :index="index">{{item}}
                            </el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
                <div id="showing" v-loading.body="showingLoading" element-loading-text="拼命加载中">

                </div>
            </div>
        </div>
    </div>
    <el-dialog
            size="tiny"
            v-model="dialogUserVisible">
        <div class="dialog-title clearfix" slot="title">
            <span class="el-dialog__title">修改用户信息</span>
        </div>
        <el-form :model="rmsUser" style="position: relative">
            <el-row>
                <el-col :span="20" offset="4">
                    <el-upload
                            :headers="{enctype:'multipart/form-data'}"
                            class="avatar-uploader"
                            action="/imageServer/"
                            :show-file-list="false"
                            :on-success="handleAvatarScucess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="rmsUser.ruPortrait" :src="rmsUser.ruPortrait" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-col>
            </el-row>
            <el-row>
                <el-input
                        style="position:absolute;width: 30%;left: -50px;right: 0;margin: 0 auto;bottom: -50px;text-align: center;"
                        v-model="rmsUser.ruUserName"
                        placeholder="昵称">
                </el-input>
            </el-row>
        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="userSubmit" :loading="userLoading">保存</el-button>
        </div>
    </el-dialog>
</div>
<div id="wap">
    <el-dialog v-model="dialogTableVisible" size="full" :show-close="false">
        <!--<div class="divImsunhao">-->
        <!--<div class="barcode2" id="div128"></div>-->
        <!--<p>任务单号<span>RK20170329-01</span></p>-->
        <!--<p>到货日期<span>20170329</span></p>-->
        <!--<p>打印时间<span>2017-3-29 09:51</span></p>-->
        <!--<div class="barcode" id="div129"></div>-->
        <!--</div>-->
        <sh-print
                v-for="printData of printDatas"
                :val2="printData.val2"
                :rwdh="printData.rwdh"
                :dhrq="printData.dhrq"
                :dysj="printData.dysj"
                :val="printData.val"></sh-print>
    </el-dialog>
</div>
</body>
</html>