#outboundTask {
  width: 100%;
  min-width: 890px;
  position: relative;
}
#outboundTask .demo-table-expand {
  font-size: 0;
}
#outboundTask .demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
#outboundTask .demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 80%;
}
#outboundTask .el-table__expand-column .el-table__expand-icon {
  height: 39px;
}
#outboundTask .table {
  transition: 1s all;
}
#outboundTask .el-carousel__container {
  height: 440px;
}
.el-tooltip__popper {
  max-width: 400px;
}
.el-step__main {
  max-width: calc(100% - 60px);
}
#outboundTask .outboundTaskTable {
  width: 95% !important;
  margin: 20px auto;
}
#outboundTask .datePicker {
  width: 140px !important;
  height: 24px !important;
  margin-top: 29px;
  margin-right: 18px;
  float: left;
}
#outboundTask .datePicker .el-input__inner {
  border-radius: 2px !important;
  height: 24px !important;
}
#outboundTask .add {
  background: url("/static/images/add.png") no-repeat center;
}
#outboundTask .del {
  background: url("/static/images/del.png") no-repeat center;
}
#outboundTask .search {
  background: url("/static/images/search.png") no-repeat center;
}
#outboundTask .sel {
  background: url("/static/images/sel.png") no-repeat center;
}
#outboundTask .icon {
  float: left;
}
#outboundTask .btn span {
  float: left;
  margin-top: 4px;
  margin-left: 2px;
}
#outboundTask .btn {
  height: 24px;
  line-height: 1;
  border: none;
  background: #f8fafb;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #1f2d3d;
  margin-top: 29px;
  margin-right: 16px;
}
#outboundTask .btn-print {
  margin-right: 0;
}
#outboundTask .btn:hover {
  color: #5468ee;
}
#outboundTask .inner {
  margin: 0 20px;
}
#outboundTask .btn-nav {
  height: 60px;
  overflow: hidden;
}

#outboundTask .btn-nav .el-input .el-input__inner {
  height: 24px;
}

#outboundTask .btn-nav .el-input {
  float: left;
  margin-top: 29px;
  margin-right: 18px;
  width: 140px;
  height: 24px;
}

#outboundTask ._inner {
  padding: 0 30px;
}
.steps {
  position: absolute;
  bottom: 10px;
  left: 30px;
  margin: auto;
}

.el-dialog__headerbtn {
  position: absolute;
  right: 25px;
  top: 15px;
}

.el-step__main {
  margin-left: -8px !important;
}
.select {

}

.mxClass {
  min-height: 50vh;
}
#outboundTask .outputAppointmentCombinationDetails .el-date-editor.el-input {
  width: 100%;
}

#outboundTask .outputAppointmentCombinationDetails {
  margin-top: 30px;
}

#outboundTask .outputAppointmentTable {
  width: 95% !important;
  margin: 10px 20px 0;
}

#outboundTask .modifyTask .btn {
  background: #fff;
}

#outboundTask .formBottom {
  margin-top: 10px;
}
